<script type="text/javascript">
    function altRows(id){
        if(document.getElementsByTagName){

            var table = document.getElementById(id);
            var rows = table.getElementsByTagName("tr");

            for(i = 0; i < rows.length; i++){
                if(i % 2 == 0){
                    rows[i].className = "evenrowcolor";
                }else{
                    rows[i].className = "oddrowcolor";
                }
            }
        }
    }

    window.onload=function(){
        altRows('alternatecolor');
    }
</script>


<!-- CSS goes in the document HEAD or added to your external stylesheet -->
<style type="text/css">
    table.altrowstable {
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #a9c6c9;
        border-collapse: collapse;
    }
    table.altrowstable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
    }
    table.altrowstable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
    }
    .oddrowcolor{
        background-color:#d4e3e5;
    }
    .evenrowcolor{
        background-color:#c3dde0;
    }
</style>

<p>
  <b>Companies eligible for:</b>
<table>
  <td>
    <table >
      <tr>
        <th>Name</th>
        <th>Day1</th>
        <th>Day2</th>
      </tr>
      <% AttendingCompany.all.each do |attending_company| %>
          <% if (attending_company.specialization == @student.specialization) && (VisitingCompany.where( :student_id => @student.id , :attending_company_id=>attending_company.id ).length==0) %>
              <tr>
                <td><%= link_to attending_company.name,  attending_company %></td>
                <td><%= attending_company.day1 %></td>
                <td><%= attending_company.day2 %></td>
                <td><%= button_to("Add Visiting Company", {:method => 'new_visiting_company', :student_id => @student.id, :company_id => attending_company.id},class: "btn btn-small btn-primary")%></td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </td>

  <td>
    <table class="altrowstable"  >
      <tr>
        <th>Day 1 Companies not visited</th>
      </tr>
      <% VisitingCompany.all.each do |visiting_company| %>
          <% if (visiting_company.student_id == @student.id) && (visiting_company.visited==false)&& AttendingCompany.find(visiting_company.attending_company_id).day1 && (AttendingCompany.find(visiting_company.attending_company_id).specialization == @student.specialization ) %>
              <tr>
                <td><%= link_to AttendingCompany.find(visiting_company.attending_company_id).name, AttendingCompany.find(visiting_company.attending_company_id) %></td>
                <td><%= button_to("Remove", visiting_company_path(visiting_company.id) , {:method => :delete})%></td>
                <td><%= button_to("Add to visited", visiting_company_path(visiting_company.id) , {:method=> :put})%></td>
              </tr>
          <% end %>
      <% end %>
    </table>

    <table class="altrowstable" id="alternatecolor">
      <tr>
        <th>Day 1 Companies Visited</th>
      </tr>
      <% VisitingCompany.all.each do |visiting_company| %>
          <% if (visiting_company.student_id == @student.id) && (visiting_company.visited) && AttendingCompany.find(visiting_company.attending_company_id).day1 && (AttendingCompany.find(visiting_company.attending_company_id).specialization == @student.specialization ) %>
              <tr>
                <td><%= link_to AttendingCompany.find(visiting_company.attending_company_id).name, AttendingCompany.find(visiting_company.attending_company_id) %></td>
                <td><%= button_to("Remove", visiting_company_path(visiting_company.id) , {:method => :delete})%></td>
                <td><%= button_to("Remove from visited", visiting_company_path(visiting_company.id) , {:method=> :put})%></td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </td>
  <td>
    <table>
      <tr>
        <th>Day 2 Companies not visited</th>
      </tr>
      <% VisitingCompany.all.each do |visiting_company| %>
          <% if (visiting_company.student_id == @student.id) && (visiting_company.visited==false)&& AttendingCompany.find(visiting_company.attending_company_id).day2 && (AttendingCompany.find(visiting_company.attending_company_id).specialization == @student.specialization )  %>
              <tr>
                <td><%= link_to AttendingCompany.find(visiting_company.attending_company_id).name, AttendingCompany.find(visiting_company.attending_company_id) %></td>
                <td><%= button_to("Remove", visiting_company_path(visiting_company.id) , {:method => :delete})%></td>
                <td><%= button_to("Add to visited", visiting_company_path(visiting_company.id) , {:method=> :put})%></td>
              </tr>
          <% end %>
      <% end %>
    </table>

    <table>
      <tr>
        <th>Day 2 Companies Visited</th>
      </tr>
      <% VisitingCompany.all.each do |visiting_company| %>
          <% if (visiting_company.student_id == @student.id) && (visiting_company.visited) && AttendingCompany.find(visiting_company.attending_company_id).day2 && (AttendingCompany.find(visiting_company.attending_company_id).specialization == @student.specialization ) %>
              <tr>
                <td><%= link_to AttendingCompany.find(visiting_company.attending_company_id).name, AttendingCompany.find(visiting_company.attending_company_id) %></td>
                <td><%= button_to("Remove", visiting_company_path(visiting_company.id) , {:method => :delete})%></td>
                <td><%= button_to("Remove from visited", visiting_company_path(visiting_company.id) , {:method=> :put})%></td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </td>
</table>

</p>