<h1>Listing students</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Specialization</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= link_to student.name, student %></td>
    <td><%= student.specialization %></td>
     <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Remove', student, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_student_path %>
